<footer class="mastfoot mt-auto">
  <div class="inner">
    <div class="row">
      <div class="col span-1-of-2">
        <p>Copyright &copy; 2018 by Just Virtual</p>
      </div>
    </div>
  </div>
</footer>
