<div class="app-card-container">
  <div class="card">
    <h1>Would you like to work together?</h1>

    <hr>

    <div class="row">  <div class="col-md-6">
      <h3>Address</h3>

      <p>30 Winders Road SW11 3HB London</p>

      <h3>Phone</h3>

      <p><%= number_to_phone "4322386131" %></p>

      <h3>Email</h3>

      <p><a href="mailto:nadia.mohamed89@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
    </div>

    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2485.2544808321904!2d-0.17320768427791652!3d51.47184302112338!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876059def2cfd27%3A0x651410fbed91f2cf!2s30+Winders+Rd%2C+London+SW11+3HB!5e0!3m2!1sen!2suk!4v1541603307587" width="450" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
</div>
