<main role="main" class="inner cover">
  <h1 class="cover-heading">Full Stack Web Developer</h1>
  <p class="lead">A complete support in every aspect of a company's online presence. Serving all of your web development and digital marketing needs.</p>
  <p class="lead">
  <%= link_to "Look My Works", portfolios_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>
